body {
background-color: pink;
}

hr {
  background-color: yellow;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 2px;
  height: 0px;
  width: 10%;
}

img {
  height: 300px;
  background-color: red;
}

h1 {
  font-size: 50px;
  color: green;
}

h2 {
  color: green;
}

h3 {
  color: green;
}
